<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>testngMon</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="659282">  <td>18/04/10 23:36:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.i_am_on_the_browser()[pri:0, instance:stepdef.loginTest@64bf3bbf]">i_am_on_the_browser</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="659282">  <td>18/04/10 23:36:55</td>   <td>3448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.google_opens()[pri:2, instance:stepdef.loginTest@64bf3bbf]">google_opens</td> 
  <td>main@1232306490</td>   <td></td> </tr>
</table>
